.app {
    background-color: rgba(0,0,0,.03);
    min-height: 100vh;
    padding-bottom: 0rem;
}

#country-picker > button {
    i {
        color: #757575;
        justify-content: start;
    }
    color: #333333;

    background-color: white;
}

.dropdown-demo {

    background-color: white;
    border-bottom: solid 1px black;
    color: #333333;
  }
  
  .dd{
    color: #333333;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }