<template>
  <div class="main-container" v-bind:style="{paddingTop: '20px'}">
    <div class="main-container-lap">
      <b-row class="h-100">
      <b-col cols="3" class="h-100 pr-0">
        <Sidebar />
      </b-col>
      <b-col cols="9" class="h-100">
        <HotelsSection />
      </b-col>
      </b-row>
    </div>
    <div class="main-container-mobile">
      <b-row class="h-100">
        <b-col cols="12" class="h-100">
          <HotelsSection />
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import HotelsSection from "@/components/HotelsSection"
import Sidebar from '@/components/Sidebar';

export default {
  name: "Home",
  components: {
    HotelsSection,
    Sidebar
  }
};
</script>

<style scoped>
.main-container-mobile {
    display: none;
  }

.main-container-lap {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media (max-width:768px) {
  .main-container-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .main-container-lap {
    display: none;
  }
}


@media (max-width:420px) {
  .main-container-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .main-container-lap {
    display: none;
  }
}

</style>
