<template>
  <div class="filter-container w-100 h-100" v-bind:style="{paddingTop: '0px'}">
    <div class="filter-header d-flex" @click.prevent="redirectToHome()">
        <i class="close-icon fas fa-times mx-3" />
        Where ?
    </div>
    <div class="filter-locatoin-container d-flex">
        <b-dropdown class="filter-modal-item mr-sm-2 ml-0 w-100 align-items-center justify-content-start d-flex align-self-stretch flex-nowrap" 
          id="country-picker-filter" size='lg' v-model="selectedLoc" @click.native="changeCountry" no-caret>
          <template v-slot:button-content align-h="start" class="filter-modal-item">
            <i class="country-icon-search fas fa-search mr-sm-3"></i>{{selectedLoc}}
          </template>
          <b-dropdown-item class='text-white white bd-highlight' v-for="item in location" 
            :key="item.cityCode"
            :value="item.cityCode"
            @click="selectedLoc=item.label">
              <i class="country-icon fas fa-map-marker-alt mr-2" />{{item.label}}
          </b-dropdown-item>
        </b-dropdown>
        <b-form-datepicker 
            size="lg"
            v-model="checkOutDate" 
            placeholder="Choose date" 
            locale="en"
            no-flip
            class="filter-modal-item date-picker mr-sm-2 w-100 flex-nowrap"
            :date-format-options="{ month: 'short', day: '2-digit' }"
          ></b-form-datepicker>
        <b-input
          size="lg"
          class="filter-modal-item filter-text mr-sm-2 w-100"
          placeholder="2 adults, 0 children, 1 room"
        ></b-input>
        <b-button id="search-filter-button" size="lg" class="filter-modal-item my-2 my-sm-0 w-30" variant="primary" @click.prevent="redirectToHomeWithFilter()">
          Search
        </b-button>
    </div>
  </div>
  
</template>

<script>
import {
  getCountryInfo,
} from "@/app/infos/hotel-info.js";

export default {
    name: "Location",
    components: {
        
    },
    data() {
        return {
        location: [],
        selectedLoc: "",
        filter: {
            locationSearch: "",
        },
        checkOutDate: null,
        query: {},
        };
    },
    created() {
    this.formMagic();
  },
  mounted() {
       this.getCountryData();
  },
  methods: {
    // set option values for facility filter
    async getCountryData() {
      // // 捕获异常
      try {
        // 等待异步方法执行完成
        await getCountryInfo().then((res) => {
          //console.log("国家 detail 数据", res);
          //this.location = res.data.map((item) => {label: item.label cityCode: item.cityCode});
          this.location = JSON.parse(JSON.stringify(res.data));
          //console.log("国家 detail 数据", res.data, this.location[0].label);
          console.log('mounted: ', this.location)
          this.selectedLoc = (this.location.length)? this.location[0].label:"Entire Country"
          this.filter.locationSearch = this.location[0].cityCode;
        });
      } catch (err) {
        console.log("err", err);
      }
    },
    formMagic() {
      const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      const date = new Date();
      const month = monthNames[date.getMonth()];
      const day = String(date.getDate()).padStart(2, '0');
      this.checkOutDate = month + "-" + day;
    },
    onValueSelect(value) {
      this.filter.locationSearch = value;
      console.log("filter_change=>", value);
    }, 
    changeCountry(evt) {
      if (evt && evt.target && evt.target.hasAttribute('value')) {
        //console.log("itemchanged=>", evt.target.getAttribute('value'),  this.selectedLoc);
        this.onValueSelect(evt.target.getAttribute('value'));
      }
    },
    redirectToHome () {
        this.$router.push({ path: '/?location=sgsg' });
    },
    redirectToHomeWithFilter() {
        this.query.location = this.filter.locationSearch !== "" > 0 ? this.filter.locationSearch : "";
        this.query.country = this.selectedLoc;
        this.$router.push({
          path: "/",
          query: this.query 
        }).catch(() => {
          console.log("query add is failed...");
          }
        );
    }
  }
};
</script>

<style>

.filter-container {
    overflow-y:scroll;
    display: block;
    font-family: emoji !important;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 30;
    border-color:  black;
    border: 1px
}

.filter-header {
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: solid 1px;
}

.arrow-icon {
  position: absolute;
  right: 20px;
  top: 13px;
  align-items: center;
}

.filter-locatoin-container {
    flex-direction: column;
    width: 90%;
    margin: 20px;
}

.filter-modal-item{
    padding: 10px;
    margin-bottom: 10px;
}

#country-picker-filter {
    padding: 0px !important
}

#country-picker-filter  > ul {
  width: 100%;
}

#search-filter-button {
    width : 40% !important
}

.country-icon-search {
    position: relative;
    left: 0px;
    margin-right: 10px;
    color: #757575;
}

#country-picker-filter > .btn-secondary {
    background-color: white;
    color: #333;
    border-color: #7575;
}
</style>
