<template>
  <div class="filter-container w-100 h-100" v-bind:style="{paddingTop: '0px'}">
    <div class="filter-header d-flex" @click.prevent="redirectToHome()">
        <i class="close-icon fas fa-times mx-3" />
        Sort & Filter
    </div>
    <div class="filter-nav d-flex">
        <p class="mx-3 my-0 py-0">Sort by</p>
    </div>
    <div class="sort-select d-flex mr-2 ml-3">
        Price (lowest first)<i class="arrow-filter fas fa-caret-down mr-5"></i>
    </div>
    
    <div class="filter-nav d-flex">
        <p class="mx-3 my-0 py-0">Filter by</p>
    </div>
    
    <Sidebar class="filter-bar"/>
    <div class="filter-nav d-flex"/>
    <div class="filter-btn-group d-flex">
        <b-button size="lg" class="filter-btn-cancel my-2 my-sm-0 w-10" variant="primary" @click.prevent="redirectToHome()">
          Cancel
        </b-button>
        <b-button size="lg" class="filter-btn-filter my-2 my-sm-0 w-10" variant="primary" @click.prevent="redirectToHome()">
          Filter
        </b-button>
    </div>
  </div>
  
</template>

<script>
import Sidebar from '@/components/Sidebar';

export default {
    name: "Filter",
    components: {
        Sidebar
  },

    methods: {
        redirectToHome () {
        this.$router.push({ path: '/?location=sgsg' });
        }  
    }
};
</script>

<style scoped>

.filter-container {
    overflow-y:scroll;
    display: block;
    font-family: emoji !important;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 30;
    border-color:  black;
    border: 1px
}

.filter-header {
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: solid 1px;
}

.filter-nav{
    justify-content: start;
    align-items: center;
    font-size: 1.3rem;
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    color: #002D63;
}

.sort-select {
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    height: 60px;
    width: 100%;
    background-color: white;
    color: #333;
}

#sort-select > .btn {
    border-radius: 0px !important;
}

.sort-select {
    display: flex !important;
    width: 100% !important;
    text-align: left;
    border-radius: 0px;
}

.sort-select > ul {
    width: 97%;
}

.filter-bar {
    z-index: 35;
}

.filter-btn-group {
    position: fixed;
    bottom: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: white;
    z-index: 30;
}

.filter-btn-cancel{
    background-color: white;
    color: #002D63;
    border-color: #002D63;
}
.filter-btn-filter{
    background-color: #002D63;
    color: white;
    border-color: #002D63;
}

.arrow-icon {
  position: absolute;
  right: 20px;
  top: 13px;
  align-items: center;
}

</style>
