<template>
  <!-- Footer -->
  <div class="page-footer font-small pt-0" style="backgroundColor: #333333; color: white">
    <div style="backgroundColor: #002D63">
      <b-container class="text-left">
        <b-row class="py-4 d-flex align-items-center">
          <b-col md="6" lg="5" class="text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 white-text" style="color: #f8f9fa">Get connected with us on social networks!</h6>
          </b-col>
          <b-col md="6" lg="7" class="text-center text-md-right">
            <a class="fb-ic ml-0"><i class="fab fa-facebook white-text mr-lg-4"> </i></a>
            <a class="tw-ic"><i class="fab fa-twitter white-text mr-lg-4"> </i></a>
            <a class="gplus-ic"><i class="fab fa-google-plus white-text mr-lg-4"> </i></a>
            <a class="li-ic"><i class="fab fa-linkedin-in white-text mr-lg-4"> </i></a>
            <a class="ins-ic"><i class="fab fa-instagram white-text mr-lg-4"> </i></a>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <b-container class="mt-5 mb-4 text-center text-md-left">
      <b-row class="mt-3">
        <b-col md="4" lg="4" xl="4" class="mb-4">
          <h6 class="text-uppercase font-weight-bold"><strong>Company name</strong></h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; backgroundColor: #858585" />
          <p>Rakuten Travel Xchange is the hotel wholesale and travel technology division within the Rakuten group.
            We distribute our global inventory and the directly negotiated rates of Rakuten Travel and Rakuten LIFULL STAY.</p>
        </b-col>
        <b-col class="mb-4">
          <h6 class="text-uppercase font-weight-bold"><strong>Products</strong></h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; backgroundColor: #858585"  />
          <p><a href="#!">FAQ</a></p>
          <p><a href="#!">Terms of use</a></p>
          <p><a href="#!">Privacy policy</a></p>
          <p><a href="#!">Contact us</a></p>
        </b-col>
        <b-col class="mb-4">
          <h6 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; backgroundColor: #858585"  />
          <p><a href="#!">Your Account</a></p>
          <p><a href="#!">Become an Affiliate</a></p>
          <p><a href="#!">Shipping Rates</a></p>
          <p><a href="#!">Help</a></p>
        </b-col>
        <b-col md="3" lg="3" xl="3" class="mb-4">
          <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; backgroundColor: #858585"  />
          <p><i class="fas fa-home mr-3"></i> Beijing, ChangYang, CN</p>
          <p><i class="fas fa-envelope mr-3"></i> gbearhan74@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> +86 132 2017 5737</p>
          <p><i class="fas fa-print mr-3"></i> +86 132 2017 5737</p>
        </b-col>
      </b-row>
    </b-container>
    <div class="footer-copyright text-center py-3" style="backgroundColor: black">
      <b-container fluid style="color: white">
         &copy; Copyright <a href="https://solutions.travel.rakuten.com/" target="_blank"> CloudTravel {{new Date().getFullYear()}} </a>
      </b-container>
    </div>
  </div>
  <!-- Footer -->
</template>