<template>
  <b-navbar toggleable="md" type="dark" variant="light" class="mb-0" id="header">
    <b-container>
      <b-navbar-brand to="/?location=sgsg">
        <b-card-img
          :src="require(`@/assets/img/cloudtravel-logo.svg`)"
          class="hotel-card__img"
        ></b-card-img>
      </b-navbar-brand>
      <div class="nav_toggle_bars">
        <i class="fa-solid fas fa-bars"></i>
      </div>
      <b-navbar-nav class="nav_toggle_bar_content ml-auto" v-if="isView">
        <b-nav-item-dropdown text="English" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">CN</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            USD
          </template>
          <b-dropdown-item href="#">USD</b-dropdown-item>
          <b-dropdown-item href="#">EUR</b-dropdown-item>
        </b-nav-item-dropdown>
        <!-- <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form> -->
        <b-nav-item>My Account</b-nav-item>
        <b-nav-item>Log out</b-nav-item>
      </b-navbar-nav>
    </b-container>
  </b-navbar>
</template>

<script>
import facilities from "@/assets/data/maps/facility-icons.json";

export default {
  name: "Navbar",
  data() {
    return {
      facilityOptions: [],
      location: "",
      isView: true,
      filter: {
        locationSearch: "",
      },
      query: {},
    };
  },
  watch: {
    // watch the search filter. if it changes set queries for searching
    filter: {
      handler: function(filter) {
        this.query.location = filter.locationSearch !== "" > 0 ? filter.locationSearch : "";

        this.$router.push({
          path: "/",
          query: this.query 
        });
      },
      deep: true,
    },

  },
  created() {
  },
  methods: {
    // set option values for facility filter
    setFacilityOptions() {
      Object.keys(facilities).forEach((facility) => {
        this.facilityOptions.push({
          html: facility,
          value: facility,
        });
      });
    },
  },
};
</script>

<style>
.navbar-dark .navbar-nav .nav-link {
  color:black!important;
  
}
#header {
  top: 0;
  width: 100%;
  z-index: 20;
  position: fixed;
}

.nav_toggle_bars {
  display: none;
  position: absolute;
  right: 10.94%;
  cursor: pointer;
  color: transparent;
}

.nav_toggle_bar_content {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto !important;
  background-color: transparent;
}

@media (max-width:768px) {
  .nav_toggle_bars{
            display:block;
            position: absolute;
            right: 3%;
            cursor: pointer;
            color:#757575;
  }

  .nav_toggle_bar_content {
    display: none !important;
  }
}
@media (max-width:420px) {
  .nav_toggle_bars{
            display:block;
            position: absolute;
            right: 3%;
            cursor: pointer;
            color:#757575;
  }

  .nav_toggle_bar_content {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 3%;
    background-color: #f8f9fa;
    padding: 5px !important;
    border-radius: 2px;
  }

}
</style>