<template>
  <b-card
    no-body
    class="hotel-card overflow-hidden"
    id="hotel-card"
  >
    <b-row no-gutters class="card-lap">
      <b-col 
        md="4" 
        lg="3"
        sm="3"
        xs="3"
        class="shimmer d-flex p-2"
        v-if="loading"
        v-bind:style="styles"
      >
      </b-col>
      <b-col 
        md="4" 
        lg="3"
        sm="3"
        xs="3"
        class="d-flex p-2"
        v-else
      >
          <b-row no-gutters>
            <!-- Img -->
            <b-col class="w-25 mb-1" v-bind:style="{height:'80%'}">
              <b-card-img
                :src="hotel.img"
                class="hotel-card__img"
              ></b-card-img>

            </b-col>
            <div class="d-flex" v-bind:style="{height:'20%'}">
              <b-col class="pr-0 pl-0" v-for="room, index in getRooms()" :key="index">
                <img
                  class="pr-1 w-100 h-100 object-fit-cover object-position-center-bottom" 
                  :src="(room.m)?room.m.url:(room.l)?room.l.url:(room.xl)?room.xl.url:hotel.img"
                  v-if="index<3"
                >
                <img
                  class="pr-0 w-100 h-100 object-fit-cover object-position-center-bottom" 
                  :src="(room.m)?room.m.url:(room.l)?room.l.url:(room.xl)?room.xl.url:(room.s)?room.s.url:(room.xs)?room.xs.url:hotel.img"
                  v-else
                >
              </b-col>
            </div>
          </b-row>
      </b-col>
      <b-col md="8" lg="9" sm="9" xs="9">
        <b-card-body class="d-flex flex-column h-100">
          <div class="d-flex justify-content-between align-items-center" v-bind:style="{flexDirection:'row'}">
            <!-- Name -->
            
            <div class="col-md-12 col-lg-12" v-if="loading" v-bind:style="styles">
              <h3 class="shimmer card-title align-items-center mt-2 mr-2 ml-0 pl-0" v-if="loading">.</h3>
              <p class="shimmer align-items-center mt-2 mr-2 ml-0 pl-0" v-if="loading">.</p>
              <p class="shimmer align-items-center mt-2 mr-2 ml-0 pl-0" v-if="loading">.</p>
            </div>
            <div class="col-md-9 col-lg-9" v-bind:style="{width:'auto', paddingLeft: '0px'}" v-else>
              <div class="d-flex justify-content-left align-items-center">
                <h4 class="card-title align-items-center mt-2 mr-2">{{ hotel.name }}</h4>
                <HotelCardRating
                  :id="hotel.id"
                  :rating="hotel.rating"
                  
                />
              </div>
              <p class="card-title pb-0 mb-1">{{ hotel.location.addr }}, {{hotel.location.city}}, {{hotel.location.country}}(
                <b-button 
                class="p-0 my-1"
                variant="link"
                v-b-modal.map-modal
                @click="$emit('show-on-map', hotel.location.coordinates)"
              >view map 
              </b-button> )</p>
              
              <p class="hotel-desc pb-0 mb-3">
                {{hotel.desc}}
              </p>
            </div>
            <!-- Rating -->
            <HotelCardRateEstimation
              :id="hotel.id"
              :rating="hotel.rating"
              :reviews="hotel.reviews"
              class="col-md-3 col-lg-3"
              v-if="hidden_flag===0 && !loading"
              v-bind:style="{marginLeft: 'auto', alignItems:'flex-end', flex:'0'}"
            />
          </div>
          <div class="d-flex flex-wrap gap-0 mb-1 flex-1 justify-content-start align-items-center" v-if="!loading">
            <div
              v-for="facility, i in hotel.facilities"
              :key="i"
            >
              <b-button 
                v-if="i<3" 
                v-bind:style="{borderColor: '#00A1E5', color: '#00A1E5', backgroundColor: 'white', borderRadius: '0'}"
                class="mr-2 pr-2 pl-2 pt-0 pb-0 mb-1">{{ facility }}
              </b-button>
              <b-button 
                :id="`tooltip-button-variant-${hotel.id}`"
                v-if="i==2" 
                v-bind:style="{borderColor: '#00A1E5', color: '#00A1E5', backgroundColor: 'white', borderRadius: '0'}" 
                class="ml-0 pr-2 pl-2 pt-0 pb-0 mb-1">
                  +{{ hotel.facilities.length - 3 }}
              </b-button>
              
            </div>
            <b-tooltip :target="`tooltip-button-variant-${hotel.id}`" triggers="hover" class="tooltip-facility" placement='bottom'>
              <div class="facility-container flex ">
                <div class="facility-item" v-for="facility, i in hotel.facilities" :key="i">
                  <span class="flex-1" v-bind:style="{color: 'white', fontWeight: '100'}"><i class="icon-tooltip fas fa-check mr-2" v-bind:style="{color: '#019501'}"></i>{{facility}}</span>
                </div>
              </div>
            </b-tooltip>
          </div>
          <!-- facilities -->
          <div class="d-flex justify-content-between align-items-center pl-0 ml-0" v-bind:style="styles">
            <div class="d-flex mark-item pl-0 ml-0" v-if="loading" v-bind:style="{width:'30%'}">
              <p class="shimmer mb-0 ml-3 mb-5 mt-3" v-bind:style="{width:'100%'}">.</p>
            </div>
            <div class="d-flex mark-item" v-else>
              <b-img 
                class="rounded shadow-sm lg"
                fluid 
                :src="require(`@/assets/vector.png`)" 
              />
              <p class="mb-0 ml-3">{{(country)?country.split(",")[0]: "hotel"}} - {{(hotel.safety && hotel.safety !== 'undefined')? hotel.safety: 'SG Clean'}}</p>
            </div>
            <div class="pl-2 pr-2" v-bind:style="{color: 'white', fontSize: '20px', backgroundColor: '#00A1E5'}" v-if="!loading && save_flag"> SAVE {{getAdjRate()}}% TODAY</div>
          </div>

          <div class="hotel-cost d-flex justify-content-end align-items-center" v-bind:style="{flexDirection: 'column'}" v-if="!loading">
            <div class="hotel-cost-item1 pl-2 pr-2" v-bind:style="{color: '#757575', fontSize: '20px'}">Nightly avg.</div>
            <div class="d-flex justify-content-end align-items-center">
              <div class="pl-2 pr-2" v-bind:style="{color: '#757575', fontSize: '20px', textDecoration: 'line-through'}" v-if="save_flag">{{hotel.rate.currency}} {{Math.floor(hotel.rate.taxesAndFeesTotal)}}</div>
              <h2>{{hotel.rate.currency}} {{Math.floor(hotel.adjrate.taxesAndFeesTotal)}}</h2>
            </div>
          </div>
          <!-- <div class="d-flex justify-content-between align-items-center">
            <span class="font-1h">Starts from {{ minPrice }}$</span>
            
            <b-button :to="`/hotel/${hotel.id}`" variant="primary">Book Now</b-button>
          </div> -->
        </b-card-body>
      </b-col>
    </b-row>
    <b-row no-gutters class="card-mobile">
      <b-col 
        md="3" 
        lg="3"
        sm="4"
        class="shimmer d-flex p-2 col-xs-4 w-25"
        v-if="loading"
        v-bind:style="styles"
      >
      </b-col>
      <b-col 
        md="3" 
        lg="3"
        sm="4"
        class="d-flex p-0 col-xs-4"
        v-else
        v-bind:style="{width:'30%'}"
      >
        <b-card-img
          :src="hotel.img"
          class="hotel-card__img"
        ></b-card-img>
      </b-col>
      <b-col md="9" lg="9" sm="8" class="col-xs-8" v-bind:style="{width:'70%'}">
        <b-card-body class="d-flex flex-column h-100 py-2 px-3">
          <div class="d-flex justify-content-between align-items-center" v-bind:style="{flexDirection:'row'}">
            <!-- Name -->
            
            <div class="col-md-12 col-lg-12" v-if="loading" v-bind:style="styles">
              <h6 class="shimmer card-title align-items-center mt-2 mr-2 ml-0 pl-0" v-if="loading">.</h6>
              <p class="shimmer align-items-center mt-2 mr-2 ml-0 pl-0" v-if="loading">.</p>
              <p class="shimmer align-items-center mt-2 mr-2 ml-0 pl-0" v-if="loading">.</p>
            </div>
            <div class="col-md-12 col-lg-12" v-bind:style="{width:'auto', paddingLeft: '0px'}" v-else>
              <h6 class="card-title-name card-title align-items-center my-0 mr-2">{{ hotel.name }}</h6>
              <HotelCardRating
                :id="hotel.id"
                :rating="hotel.rating"
                class="mt-0 mb-0 ml-0"
              />
              <p class="card-title py-0 mb-0" v-bind:style="{fontSize:'0.9rem', fontWeight:'200', inlineHeight:'1'}">{{ hotel.location.addr }}, {{hotel.location.city}}, {{hotel.location.country}}(
                <b-button 
                class="p-0 my-0"
                variant="link"
                v-b-modal.map-modal
                @click="$emit('show-on-map', hotel.location.coordinates)"
              >view map 
              </b-button> )</p>
              <p class="py-0 my-0" v-bind:style="{fontSize:'0.9rem', fontWeight:'200', inlineHeight:'1'}">
                <span style="font-weight:bold;">4 Excellent</span> (12, 345 reviews)
              </p>
            </div>
          </div>
          <div class="hotel-cost d-flex justify-content-end align-items-end" v-bind:style="{flexDirection: 'column'}" v-if="!loading">
            <div class="d-flex justify-content-end align-items-center" v-bind:style="{color: 'white', fontSize: '15px', backgroundColor: '#00A1E5'}" v-if="!loading && save_flag"> SAVE {{getAdjRate()}}% TODAY</div>
            <div class="hotel-cost-item1 pl-2 pr-2" v-bind:style="{color: '#757575', fontSize: '15px'}">Nightly avg.</div>
            <div class="d-flex justify-content-center align-items-center">
              <div class="pl-2 pr-2" v-bind:style="{color: '#757575', fontSize: '15px', textDecoration: 'line-through'}" v-if="save_flag">{{hotel.rate.currency}} {{Math.floor(hotel.rate.taxesAndFeesTotal)}}</div>
              <h5 class="py-0 my-0">{{hotel.rate.currency}} {{Math.floor(hotel.adjrate.taxesAndFeesTotal)}}</h5>
            </div>
          </div>
        </b-card-body>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import HotelCardRating from "@/components/HotelCardRating"
import HotelCardRateEstimation from "@/components/HotelCardRateEstimation"
import facilityIcons from "@/assets/data/maps/facility-icons"

export default {
  name: "HotelCard",
  components: {
    HotelCardRating,
    HotelCardRateEstimation,
  },
  props: {
    loading: Boolean,
    hotel: { // data about hotel
      type: Object,
      required: true
    },
    country: String
  },
  data() {
    return {
      facilityIcons,
      frontThreeFacility: [],
      hidden_flag: 0,
      save_flag: false
    }
  },
  computed: {
    // calculates minimum bed price
    minPrice() {
      return Math.min(...Object.values(this.hotel.pricing.bed));
    },
    styles () {
      return {
        width: '100%',
        maxWidth: this.width,
        height: this.height,
        //minHeight:'50px'
      }
    }
  },
  watch: {
    loading: function() {
      // console.log("loading changed", this.loading);
    }
  },
  created: function() {
    window.addEventListener('resize', this.onResizeWindow);
    this.onResizeWindow();
    this.getAdjRate();
  },
  mounted() {
    for (let i=0; i<this.hotel.facilities.length; i++)
    {
      this.frontThreeFacility.push(this.hotel.facilities[i]) ;
      if (i === 2){
        break;
      }
    }
    // console.log("GBear: facility: ", console.log(this.country));
  },
  methods: {
    onResizeWindow(){
      if (window.innerWidth < 1366) {
        this.hidden_flag = 1;
      } else {
        this.hidden_flag = 0;
      }
    },
    getRooms(){
      let rooms = [];
      let roomcnt = this.hotel.gallery.length;
      for (let ind = 0; ind < roomcnt; ind++)
      {
        if (ind >= 4) break;
        rooms.push(this.hotel.gallery[ind]);
      }
      return rooms;
    },
    getAdjRate() {
      let adjRatio = 0;
      // let prevRate = this.hotel.rate.taxesAndFeesTotal;
      // let adjRate = this.hotel.adjrate.taxesAndFeesTotal;
      // for the test...
      let prevRate = 120;
      let adjRate = 100;
      adjRatio = Math.floor((prevRate - adjRate) / prevRate * 100);
      
      if (adjRatio > 0)
      {
        this.save_flag = true;
      }
      else
      {
        this.save_flag = false;
      }
      return adjRatio;
    }
  }
};
</script>

<style>

.tooltip-facility {
  background-color: #333333;
  color: white;
  text-align: left;
}

.tooltip-inner {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  background-color: #333333
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #333333;
}

.facility-container{
  padding: 3px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.facility-item{
  flex-grow: 1;
  flex-basis: 50%;
}
.facility-item:after{
  content: "";
  flex: auto;
}
.mark-item{
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 4px;
  justify-content: left;
}
.hotel-cost {
  align-self: flex-end
}

.hotel-cost-item1{
  align-self: flex-end;
} 

#hotel-card:hover {
  box-shadow: 0 0.5rem 0.5rem rgb(1 1 1 / 20%) !important;
}

@keyframes background-shimmer{
  0%{
    background-position: 100% 0
  }
  100%{
    background-position: -100% 0
  }
}

.shimmer {
  position: relative;
  animation-duration: var(--shimmer-duration, 1.5s);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: background-shimmer;
  animation-timing-function: var(--shimmer-timing-function, linear);
  color: #E5E5E5;
  background: var(--shimmer-color, currentColor);
  background: linear-gradient(to right, var(--shimmer-color, currentColor) 8%, var(--shimmer-shine-color, rgba(255, 255, 255, 0.8)) 18%, var(--shimmer-color, currentColor) 33%);
  background-size: 250%;
  border-radius: var(--shimmer-radius);
}

.icon-tooltip {
  position: relative;
  left: 0px;
}

.hotel-desc {
  display: block;
  color: rgb(117, 117, 117);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-lap{
  display: flex !important;
}

.card-mobile{
  display: none !important;
}

@media (max-width:420px) {
.card-lap{
  display: none !important;
}

.card-mobile{
  display: flex !important;
  flex-flow: row;
}

.hotel-desc {
  display: none;
}

.card-title-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
  
}
</style>
