<template>
  <div class="rating-container" v-bind:style="{alignSelf: 'auto'}">
    <div class="rectangle-rating">
        <span class="card-text speech-bubble speech-bubble-peer">{{avgRating}}</span>
    </div>
    <div class="rating-detail">
        <div class="d-flex">
            <h5 class="mb-0">Excellent</h5>
            <b-img 
                class="aver-flag rounded lg"
                fluid 
                :src="require(`@/assets/flag.png`)" 
              />
        </div>
        <b-form-rating
        class="reting-star mt-0 mb-0"
        v-model="avgRating"
        variant="warning"
        no-border
        inline
        readonly
        >
        </b-form-rating>
        <div>
            {{getTotalReviews()}} reviews
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HotelCardRateEstimation",
  props: {
    id: Number,
    rating: Object,
    reviews: Array
  },
  data() {
    return {
     
    }
  },
  computed: {
    avgRating() {
      return Object.values(this.rating).reduce((prev, curr) => prev + curr) / 4;
    }
  },
  mounted() {
    // console.log("estimate reviews", this.reviews)
  },
  methods: {
    getTotalReviews()
    {
      let sumReviews = 0;
      if (this.reviews === null || this.reviews === 'undefined')
        return 0;

      //console.log("estimate reviews", this.reviews)
      for (let i = 0; i < this.reviews.length; i++)
      {
        sumReviews += this.reviews[i].reviewsCount;
      }
      //console.log("estimate reviews", sumReviews)
      return sumReviews.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }
};
</script>

<style>
.b-rating {
  background-color: transparent;
}

.speech-bubble {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgb(96, 173, 61);
  text-align: center !important;
  font-size: x-large;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px !important;
}

.subtle-blue-gradient {
  background: linear-gradient(45deg,#004bff, #007bff);
}

.card-text:last-child {
    padding-top: 10px;
}

.speech-bubble-peer:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 50px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: rgb(96, 173, 61);
  border-top: 0;
  border-right: 0;
  margin-bottom: -5px;
  margin-left: -10px;
}

.rectangle-rating {
    margin-right: 0px;
    border: 0px;
    padding: 0px;
    flex-basis: fit-content;
}

.rating-container {
    margin-left: 15px;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    place-self: baseline;
    margin-top: 10px;
    margin-left: auto;
    align-items: flex-end;
    flex: unset !important;
}

.rating-detail {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    margin-left: 10px;
}

.reting-star {
    height: 20px;
    padding: 0px;
}

.aver-flag {
    height: 12px;
}
</style>