<template>
  <div>
    <section>
      <b-dropdown class="sort-dropdown mr-sm-2 ml-0 mb-2 w-100 align-items-center justify-content-start d-flex align-self-stretch flex-nowrap" 
          size='lg' text="Select one" no-caret>
        <template v-slot:button-content align-h="start" class="sort-dropdown">
          Select one<i class="arrow-icon fas fa-caret-down mr-sm-2"></i>
        </template>
        <b-dropdown-item-button>Select one</b-dropdown-item-button>
        <b-dropdown-item-button>Select all</b-dropdown-item-button>
      </b-dropdown>
      <div>
        <div class="filter-result-cnt-lap w-100">
          <h3 v-if="loading">Searching...</h3>
          <h3 v-else>{{country}}: {{hotels.length}} properties found</h3>
        </div>
        <div class="filter-result-cnt-mobile">
          <h6 v-if="loading">Searching...</h6>
          <h6 v-else>{{country}}: {{hotels.length}} properties found</h6>
        </div>
      <div class="filter-button-group">
        <b-button-group color="#002d63" size="lg mt-3 mb-3 d-flex w-100" role="group">
          <b-button class="filter-btn" type="radio" size="w-25" id="btn-sort-popularity">Popularity</b-button>
          <div type="radio" class="price-pickup w-25">
            <b-dropdown class="price-pickup-dropdown w-100" id="price" right text="Price(lowest first)">
              <b-dropdown-item class="w-100">Price(lowest first)</b-dropdown-item>
            </b-dropdown>
          </div>
          <b-button class="filter-btn" type="radio" size="w-25"  id="btn-sort-reviews">Reviews</b-button>
          <b-button class="filter-btn" type="radio" size="w-25"  id="btn-sort-discount">Discount</b-button>
        </b-button-group>
      </div>
      <div v-if="error" class="justify-content-between align-items-center">
        <div class="mt-5 pt-5" v-bind:style="{width:'100%', textAlign:'center'}">
          <i class="fas fa-exclamation-triangle" v-bind:style="{width:'inherit', textAlign:'center'}"/>
        </div>
        <div class="mt-3 pt-2" v-bind:style="{width:'100%', textAlign:'center'}">Opps, something went wrong.</div>
        <p class="mt-1 pt-1" v-bind:style="{width:'100%', textAlign:'center'}">error message here</p>
      </div>
      <div v-if="hotels.length===0 && !error" class="justify-content-between align-items-center">
        <div class="mt-5 pt-4" v-bind:style="{width:'100%', textAlign:'center'}">
          <i class="fas fa-search" v-bind:style="{width:'inherit', textAlign:'center'}"/>
        </div>
        <div class="mt-3 pt-3" v-bind:style="{width:'100%', textAlign:'center'}">Sorry! We couldn't find any properties for your search.</div>
      </div>
      <HotelCard
        v-for="hotel, i in (filteredHotels.length > 0 ? filteredHotels : hotels)"
        :key="i"
        :hotel="hotel"
        :loading="loading"
        :country="country"
        class="hotel-card-lap mb-3 w-100"

        @show-on-map="showOnMap"
      />
      <HotelCard
        v-if="hotels.length > 0 || filteredHotels.length > 0"
        :hotel="hotels[0]"
        :loading="loading"
        :country="country"
        class="hotel-card-mobile mb-3 w-100"
        @show-on-map="showOnMap"
      />
      </div>
      
      <MapModal
        :coordinates="coordinates"
      />
    </section>

    <div class="pagination-bar-lap d-flex justify-content-between my-3 mr-5" v-if="hotels.length > 0 && !error">
      <b-button class="btn-page-link" variant="link">Back to top</b-button>
      <div class="d-flex justify-content-between mr-5">
        <h6 class="pagination-list my-0 py-0 mx-3">Showing Results 1-20 of 9999</h6>
        <b-pagination class="pagination-btn my-0 py-0"
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          first-number
          last-number
        ></b-pagination>
      </div>
    </div>
    <div class="pagination-bar-mobile d-flex my-3 w-100" v-if="hotels.length > 0 && !error">
      <div class="d-flex justify-content-between">
        <b-button class="btn-page-link" variant="link">Back to top</b-button>
        <h6 class="pagination-list my-0 py-0 mx-3">Showing Results 1-20 of 9999</h6>
      </div>
      <b-pagination class="pagination-btn my-0 py-0 w-100 justify-content-between"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
        last-number
      ></b-pagination>
    </div>
  </div>
  
</template>

<script>
import HotelCard from "@/components/HotelCard"
import MapModal from "@/components/modals/MapModal"

import {
  getHotelInfoByCity,
} from "@/app/infos/hotel-info.js";
import hotels from "@/assets/data/hotels"
import facilities from "@/assets/data/facilities"


export default {
  name: "HotelsSection",
  components: {
    HotelCard,
    MapModal,
  },
  data() {
    return {
      country: "",
      hotels: [],
      sampleHotels: hotels,
      facilities: facilities,
      filteredHotels: [],
      locationSearch: "",
      coordinates: {}, // coordinates of hotel
      loading: false,
      error: false,
      rows: 9999,
      perPage: 20,
      currentPage: 1
    }
  },
  watch: {
    $route: function() {
      this.filter();
    }
  },
  created() {
    this.filter();
  },
  methods: {
    // set the hotel's coordinates to show in map
    showOnMap(coordinates) {
      this.coordinates = coordinates;
    }, 
    async getHotelData(code) {
      // // 捕获异常
      try {
        // 等待异步方法执行完成
        await getHotelInfoByCity(code).then((res) => {
          let queryRes = JSON.parse(JSON.stringify(res.data));

          
          this.hotels = queryRes.outlets.availability.results.map((res, index) => 
          {
            return {
              id:index, 
              name: res.property.name,
              location: {
                addr: res.property.location.address,
                country: res.property.location.country,
                city: res.property.location.city,
                countryCodecity: res.property.location.countryCode,
                postalCode: res.property.location.postalCode,
                subway_access: true,
                distance_from_center: 0,
                stateProvince: res.property.location.stateProvince,
                coordinates: res.property.location.latLng
              },
              phone: res.property.contacts.phone,
              rating: {
                cleanliness: res.supplierRank,
                staff: res.supplierRank,
                comfort: res.supplierRank,
                service: res.supplierRank
              },
              popularity: (res.property.reviews)? res.property.reviews.summary.globalPopularity: 0,
              reviews:  (res.property.reviews)? res.property.reviews.summary.reviewsDistribution: null,
              facilities: res.property.facilities.map((fac) => (fac < this.facilities.length)? this.facilities[fac]: "fac "+String(fac)),
              desc:  (res.property.reviews)? res.property.reviews.summary.text: "Excellent boutique hotel. Great rooms in excellent location. Awesome vibe. Beautiful beach",
              img: res.property.heroImage.url,
              gallery: res.property.gallery,
              rate: res.packages[0].displayRate,
              adjrate: res.packages[0].adjustedDisplayRate,
              safety: res.property.covidSafety
            }
          })
          console.log("getHotels => ", this.hotels, this.hotels.length);
        });
        this.error = false;
      } catch (err) {
        console.log("err", err);
        this.error = true;
        this.hotels = [];
      }
    },
    // filters hotels by search query
    async filter() {
      let hotels = this.hotels;
      const to = this.$route;
      this.country = to.query.country;
      this.hotels = this.sampleHotels;
      this.filteredHotels = [];
      this.loading = false;
      this.error = false;
      //console.log("query received, ", to, this.country)
      // if searched by location set hotels and filtered hotels with result
      if(to.query.location) {
        this.loading = true;
        let code = to.query.location;
        //console.log("query recieved", code);

        await this.getHotelData(code);
        this.locationSearch = code;
        // hotels = this.hotels.filter(hotel => hotel.location.city.toLowerCase() === this.locationSearch.toLowerCase() || hotel.location.country.toLowerCase() === this.locationSearch.toLowerCase())
        // this.filteredHotels = hotels;
      }

      // if filtered by facility set filtered hotels with result
      if(to.query.facilities) {
        this.loading = true;
        const filters = to.query.facilities.split(",");

        this.filteredHotels = hotels.filter(hotel => filters.every(facility => hotel.facilities.includes(facility)));
      }

      this.loading = false;
      console.log("get hotel query finished", this.loading);
    }
  }
}
</script>

<style scope>
.btn-group > .btn-secondary {
  background-color: #ffffff;
  color: #333333;
  border-color: #757575;
  font-size: 1.25rem;
  border-radius: 0px;
}

.price-pickup {
  border-left: none;
}
.price-pickup-dropdown {
  display: flex;
  border-left: none;
  height: 100%;

}
#price > button {
  border-left: none;
}

#price > ul {
  transform: translate3d(0px, 48px, 0px);
  width: 100%;
}

#price > ul > li > a {
  text-align: center;
  font-size: 1.25rem;
}

.filter-btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-page-link {
    padding-right: 0px !important;
    color: #002D63;
    background-color: transparent !important;
    border: none;
    margin-bottom: 0rem  !important;
}

.btn-page-link :hover {
    color: #002D63;
    background-color: transparent !important;
    border: none;
    margin-bottom: 0rem  !important;
}

.pagination-list, .pagination-btn {
  align-self: center;
}

.pagination-btn > .page-item > .page-link {
  background-color: transparent !important;
  color: #333333;
  border-color: transparent !important;
}

.pagination-btn > .page-item.active > .page-link {
  background-color: #002D63 !important;
  color: white;
  border-color: #002D63 ;
  border-radius: 20%;
}

.filter-result-cnt-lap {
  display: block !important;
}

.filter-result-cnt-mobile {
  display: none !important;
}

.filter-result-cnt-lap h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  
}

.filter-button-group{
  display: flex !important;
}

.sort-dropdown {
  display: none !important;
}

.arrow-icon {
  position: absolute;
  right: 20px;
  top: 13px;
  align-items: center;
}

.pagination-bar-lap{
  display: flex !important;
}

.pagination-bar-mobile {
  display: none !important;
}

.hotel-card-lap {
  display: flex !important;
}

.hotel-card-mobile {
  display: none !important;
}

@media (max-width:420px) {

  .filter-result-cnt-lap {
    display: none !important;
  }

  .filter-result-cnt-mobile {
    display: block !important;
  }

  .filter-result-cnt-mobile h5 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .pagination-bar-lap{
    display: none !important;
  }

  .pagination-bar-mobile {
    display: flex !important;
    flex-direction: column;
  }


  .filter-button-group{
    display: none !important;
  }

  .sort-dropdown {
    display: flex !important;
    width: 100% !important;
    border-radius: 0.5rem !important;
    text-align: left;
  }

  .sort-dropdown > ul {
    width: 100%;
  }

  .btn-group > .btn:hover {
    border-radius: 0.5rem !important;
  }

  .btn-group > .btn-secondary {
    background-color: #002D63;
    color: white;
    text-align: left;
    border-radius: 0.5rem !important;
  }

  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: #002D63;
    color: white;
  }

  .sort-dropdown > btn{
    width: 100% !important;
    border-radius: 0.5rem !important;
    text-align: left;
  }

  .hotel-card-lap {
    display: none !important;
  }

  .hotel-card-mobile {
    display: flex !important;
  }
}
</style>
