<template>
  <b-navbar toggleable="md" type="dark" variant="dark" class="bg-dark" id="searchHeader">
    <b-container class="nav-filter-container-lap">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-navbar-nav class="nav-bar d-flex w-100">
        <b-dropdown class="filter-item mr-sm-2 ml-0 w-50 align-items-center justify-content-start d-flex align-self-stretch flex-nowrap" 
          id="country-picker" size='lg' v-model="selectedLoc" @click.native="changeCountry" no-caret>
          <template v-slot:button-content align-h="start" class="filter-item">
            <i class="country-icon fas fa-search mr-sm-2"></i>{{selectedLoc}}
          </template>
          <b-dropdown-item class='text-white white bd-highlight' v-for="item in location" 
            :key="item.cityCode"
            :value="item.cityCode"
            @click="selectedLoc=item.label">
              <i class="country-icon fas fa-map-marker-alt mr-2" />{{item.label}}
          </b-dropdown-item>
        </b-dropdown>
        <b-form-datepicker 
            size="lg"
            v-model="checkOutDate" 
            placeholder="Choose date" 
            locale="en"
            no-flip
            class="filter-item date-picker mr-sm-2 w-20 flex-nowrap"
            :date-format-options="{ month: 'short', day: '2-digit' }"
          ></b-form-datepicker>
        <b-input
          size="lg"
          class="filter-item filter-text mr-sm-2 w-20"
          placeholder="2 adults, 0 children, 1 room"
        ></b-input>
        <b-button id="search-button" size="lg" class="filter-item my-2 my-sm-0 w-10" type="submit" variant="primary">
          Search
        </b-button>
      </b-navbar-nav>
    </b-container>
    <b-container class="nav-filter-container-mobile">
      <div class="filter-item-mobile d-flex w-100" size="lg" @click.prevent="redirectToLocation()">
        <i class="fas fa-search"></i>
        <div>
          <h5>Singapore, Singapore</h5>
          <div class="dateandguest">
            <p>Aug 18 - Aug 19</p>
            <p>2 adults, 1 room, 0 children</p>
          </div>
        </div>

      </div>
      <div class="filter-item-mobile d-flex w-100" v-bind:style="{borderTop: '0px'}">
        <div class="filter-item-mobile-sub" size="lg" @click.prevent="redirectToFilter()"><p><i class="fas fa-sliders-h" v-bind:style="{color: '#002D63'}"></i>Sort & Filter</p></div>
        <div class="filter-item-mobile-sub" size="lg"><p><i class="fas fa-map-marker-alt" v-bind:style="{color: '#002D63'}"></i>Map View</p></div>
      </div>
    </b-container>
  </b-navbar>
</template>

<script>

import {
  getCountryInfo,
} from "@/app/infos/hotel-info.js";

export default {
  name: "Navbar",
  components: {
    
  },
  data() {
    return {
      location: [],
      selectedLoc: "",
      filter: {
        locationSearch: "",
      },
      checkOutDate: null,
      query: {},
    };
  },
  watch: {
    // watch the search filter. if it changes set queries for searching
    filter: {
      handler: function(filter) {
        this.query.location = filter.locationSearch !== "" > 0 ? filter.locationSearch : "";
        this.query.country = this.selectedLoc;
        this.$router.push({
          path: "/",
          query: this.query 
        }).catch(() => {
          console.log("query add is failed...");
          }
        );
      },
      deep: true,
    },

  },
  created() {
    this.formMagic();
  },
  mounted() {
       this.getCountryData();
  },
  methods: {
    // set option values for facility filter
    async getCountryData() {
      // // 捕获异常
      try {
        // 等待异步方法执行完成
        await getCountryInfo().then((res) => {
          //console.log("国家 detail 数据", res);
          //this.location = res.data.map((item) => {label: item.label cityCode: item.cityCode});
          this.location = JSON.parse(JSON.stringify(res.data));
          //console.log("国家 detail 数据", res.data, this.location[0].label);
          console.log('mounted: ', this.location)
          this.selectedLoc = (this.location.length)? this.location[0].label:"Entire Country"
          this.filter.locationSearch = this.location[0].cityCode;
        });
      } catch (err) {
        console.log("err", err);
      }
    },
    formMagic() {
      const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      const date = new Date();
      const month = monthNames[date.getMonth()];
      const day = String(date.getDate()).padStart(2, '0');
      this.checkOutDate = month + "-" + day;
    },
    onValueSelect(value) {
      this.filter.locationSearch = value;
      console.log("filter_change=>", value);
    }, 
    changeCountry(evt) {
      if (evt && evt.target && evt.target.hasAttribute('value')) {
        //console.log("itemchanged=>", evt.target.getAttribute('value'),  this.selectedLoc);
        this.onValueSelect(evt.target.getAttribute('value'));
      }
    },
    redirectToFilter () {
      this.$router.push({ path: '/filter' });
    },
    redirectToLocation () {
      this.$router.push({ path: '/location' });
    },

  },
};
</script>

<style>
.navbar.navbar-dark.bg-dark{
  background-color: #002D63!important;
}
#search-button {
  background-color: #00A1E5!important;
}
a.dropdown-item{
  color: #333333;
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#country-picker > button {
  border-radius: 0.3rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#country-picker {
  width: 35% !important;
}
#country-picker > ul {
  width: 100%;
}

#nav-collapse > ul {
  justify-content: center;
}

#searchHeader {
  top: 60px;
  width: 100%;
  z-index: 10;
  position: fixed;
  padding: 0.5rem 1rem;
  background-color: #002D63 !important;
}

.country-icon {
  position: relative;
  left: 0px;
}

.b-form-btn-label-control.form-control > .form-control.form-control-lg {
  color: #333333 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.b-form-btn-label-control.form-control > .btn {
 color: #757575; 
}

.filter-text {
  color: #333333 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-filter-container-lap{
  display: flex !important;
}

.nav-filter-container-mobile{
  display: none !important;
}


@media (max-width:768px) {
  .filter-item {
    display: none !important;
  }

  #country-picker {
    display: none !important;
  }
}

@media (max-width:420px) {
  
  #searchHeader {
    padding: 0rem;
    background-color: #f8f9fa !important;
  }

  .nav-filter-container-lap{
    display: none !important;
  }

  .nav-filter-container-mobile{
    display: flex !important;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
  }

  .filter-item-mobile-sub {
    width: 50%;
    display: flex;
    padding: 0px;
    border-right: 1px solid #ddd;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #002d63;
    justify-content: center;
  }

  .filter-item-mobile{
    border-radius: 0px !important;
    width:100%;
    display: flex;
    align-items:center;
    height:50px;
    border: 1px solid #DDDDDD;
  }

  .filter-item-mobile i{
    width: 15.09px;
    height: 16px;
    color:#757575;
    margin:0 15px;
    
  }
  .filter-item-mobile p{
    margin: 0px !important;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .filter-item-mobile h5 {
    margin-bottom: 0px !important;
  }

  .dateandguest{
    display: flex;
  }
  .dateandguest p{
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

</style>