<template>
<section>
    <!-- map button -->
    <b-card
        no-body
        class="show-map-btn hotel-card shadow-sm mb-1">
        <div class="image-container">
            <b-img 
                class="map-card-img rounded shadow-sm lg"
                fluid 
                :src="require(`@/assets/map.png`)" 
              />
              <b-button class="map-btn">Show on Map</b-button>
        </div>
    </b-card>
    <!-- price filter -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-filter-title">Price per night</h5>
            <b-button class="btn-link" variant="link">CLEAR</b-button>
            </div>
            <div class="w-100 py-4">
                <Slider id="price" v-model="value" class="slider-blue w-100" :tooltips="false" :max="1000"> </Slider>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <b-input
                    class="mr-sm-2 w-40" readonly :value="`SGD ${value[0]}`"
                ></b-input>
                <div>-</div>
                <b-input
                    class="ml-sm-2 w-40" readonly :value="`SGD ${value[1]}`"
                ></b-input>
            </div>
        </b-card-body>
    </b-card>
    <!-- Reviews -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-between align-items-center">
            <!-- Name -->
            <h5 class="card-filter-title">Reviews</h5>
            <b-button class="btn-link" variant="link">CLEAR</b-button>
            </div>
            <!-- v-model="status" -->
            <div class="d-flex justify-content-between align-items-center mb-1" v-for="(filter_item, index) in reviewslist" :key="index">
                <b-form-checkbox
                    class="filter-checkbox"
                    :id="`checkbox-reviews-${index}`"
                    
                    :name="`checkbox-reviews-${index}`"
                    value="accepted"
                    unchecked-value="not_accepted"
                    >
                    {{filter_item}}
                </b-form-checkbox>
                <p class="filter-checkbox-val py-0 my-0">999</p>
            </div>
        </b-card-body>
    </b-card>
    <!-- Star Rating -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-between align-items-center">
            <!-- Name -->
            <h5 class="card-filter-title">Star rating</h5>
            <b-button class="btn-link" variant="link">CLEAR</b-button>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-1" v-for="(filter_item, index) in starlist" :key="index">
                <div class="d-flex align-items-center my-0">
                    <b-form-checkbox
                        class="filter-checkbox"
                        :id="`checkbox-star-${index}`"
                        
                        :name="`checkbox-star-${index}`"
                        value="accepted"
                        unchecked-value="not_accepted"
                        >
                    </b-form-checkbox>
                    <b-form-rating class="p-0 m-0" v-if="filter_item>0" :value="filter_item" color="#E9BF2D" variant="warning" inline no-border readonly v-bind:style="{height: '20px'}"></b-form-rating>
                    <div class="p-0 m-0" v-if="filter_item===0">No rating</div>
                </div>
                <p class="filter-checkbox-val py-0 my-0">999</p>
            </div>
        </b-card-body>
    </b-card>
    <!-- Name Filtering -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-filter-title">Hotel Name</h5>
            </div>
            <div class="search-input w-100 pt-1 pb-2">
                <b-input placeholder="e.g. Hilton, lbis ..."
                righ
                > 
                </b-input>
                <i class="icon-search fas fa-search"></i>
            </div>
            
        </b-card-body>
    </b-card>
    <!-- Reservation Policy -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-start align-items-center">
            <!-- Name -->
                <h5 class="card-filter-title">Reservation Policy</h5>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-0" v-for="(filter_item, index) in reservelist" :key="index">
                    <b-form-checkbox
                        class="filter-checkbox"
                        :id="`checkbox-reserv-${index}`"
                        
                        :name="`checkbox-reserv-${index}`"
                        value="accepted"
                        unchecked-value="not_accepted"
                        >
                        {{filter_item}}
                    </b-form-checkbox>
                    <p class="filter-checkbox-val py-0 my-0">999</p>
            </div>
        </b-card-body>
    </b-card>
    <!-- Meal plan -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-start align-items-center">
            <!-- Name -->
                <h5 class="card-filter-title">Meal plan</h5>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-0" v-for="(filter_item, index) in meallist" :key="index">
                    <b-form-checkbox
                        class="filter-checkbox"
                        :id="`checkbox-meal-${index}`"
                        
                        :name="`checkbox-meal-${index}`"
                        value="accepted"
                        unchecked-value="not_accepted"
                        v-if="index < meallist_limit_by"
                        >
                        {{filter_item}}
                    </b-form-checkbox>
                    <p class="filter-checkbox-val py-0 my-0"  v-if="index < meallist_limit_by">999</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <a class="mt-0"
                    @click="simple_toggle(0, default_meallist_limit, meallist.length)">{{ meallist_limit_by===2?'Show '+String(meallist.length-default_meallist_limit)+' more': 'Hide less'}}</a>
                    <i class="icon-show fas fa-caret-down" v-if="meallist_limit_by===2"></i>
                    <i class="icon-show fas fa-caret-up" v-if="meallist_limit_by!==2"></i>
            </div>
        </b-card-body>
    </b-card>
    <!-- property plan -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-start align-items-center">
            <!-- Name -->
                <h5 class="card-filter-title">Property plan</h5>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-0" v-for="(filter_item, index) in propertylist" :key="index">
                    <b-form-checkbox
                        class="filter-checkbox"
                        :id="`checkbox-property-${index}`"
                        
                        :name="`checkbox-property-${index}`"
                        value="accepted"
                        unchecked-value="not_accepted"
                        v-if="index < propertylist_limit_by"
                        >
                        {{filter_item}}
                    </b-form-checkbox>
                    <p class="filter-checkbox-val py-0 my-0" v-if="index < propertylist_limit_by">999</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <a class="mt-0"
                    @click="simple_toggle(1, default_propertylist_limit, propertylist.length)">{{ propertylist_limit_by===3?'Show '+String(propertylist.length-default_propertylist_limit)+' more': 'Hide less'}}</a>
                    <i class="icon-show fas fa-caret-down" v-if="propertylist_limit_by===3"></i>
                    <i class="icon-show fas fa-caret-up" v-if="propertylist_limit_by!==3"></i>
            </div>
        </b-card-body>
    </b-card>
    <!-- facility plan -->
    <b-card
        no-body
        class="hotel-card shadow-sm mb-1"
    >
        <b-card-body class="d-flex flex-column h-100">
            <div class="d-flex justify-content-start align-items-center">
            <!-- Name -->
                <h5 class="card-filter-title">Facility</h5>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-0" v-for="(filter_item, index) in facilitylist" :key="index">
                    <b-form-checkbox
                        class="filter-checkbox"
                        :id="`checkbox-facility-${index}`"
                        
                        :name="`checkbox-facility-${index}`"
                        value="accepted"
                        unchecked-value="not_accepted"
                        v-if="index < facilitylist_limit_by"
                        >
                        {{filter_item}}
                    </b-form-checkbox>
                    <p class="filter-checkbox-val py-0 my-0" v-if="index < facilitylist_limit_by">999</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <a class="mt-0"
                    @click="simple_toggle(2, default_facilitylist_limit, facilitylist.length)">{{ facilitylist_limit_by===3?'Show '+String(facilitylist.length-default_facilitylist_limit)+' more': 'Hide less'}}</a>
                    <i class="icon-show fas fa-caret-down" v-if="facilitylist_limit_by===3"></i>
                    <i class="icon-show fas fa-caret-up" v-if="facilitylist_limit_by!==3"></i>
            </div>
        </b-card-body>
    </b-card>

</section>
  
  
</template>

<script>

import Slider from '@vueform/slider/dist/slider.vue2.js'

export default {
  name: "Sidebar",
  components: {
      Slider
  },
  data() {
    return {
        value: [0, 999],
        reviewslist: [
            "Excellent",
            "Very Good",
            "Good",
            "Fair",
            "Poor",
            "No review"
        ],
        starlist:[
            5, 4, 3, 2, 1, 0
        ],
        reservelist: [
            "Free cancellation",
            "Book now, pay later",
            "Pay at hotel",
            ],
        meallist: [
            "Room only",
            "Breakfast",
            "Lunch",
            "Dinner",
            "Half board",
            "Full board",
            "All inclusive",
        ],
        default_meallist_limit: 2,
        meallist_limit_by: 2,
        propertylist: [
            "Hotel",
            "Hostel/Backpacker accommodation",
            "Apartment",
            "Aparthotel",
            "Resort",
            "Inn",
            "Motel",
            "Bed & breakfast",
            "Guesthouse",
            "Condo",
            "All-inclusive property",
            "Hostal"
        ],
        default_propertylist_limit: 3,
        propertylist_limit_by: 3,
        facilitylist: [
            "Swimming pool",
            "Internet access",
            "Non-smoking floor",
            "Air conditioning",
            "Lounges/bars",
            "Elevators",
            "outdoor pool",
            "concierge desk",
            "shopping mall",
            "Housekeeping - daily",
            "Phone services",
            "Safe deposit box",
            "Laundry/valet service",
            "Poolside snack bar",
            "Health club",
            "safe deposit box",
            "spa",
            "Multilingual staff",
            "Laundry/valet service",
            "Meeting rooms",
            "smoke-free property",
            "wedding services",
            "complimentary wireless internet",
            "complimentary wireless internet",
            "Restaurant",
            "Free parking",
            "Roof terrace",
            "Cloakroom service",
            "Elevator"
        ],
        default_facilitylist_limit: 3,
        facilitylist_limit_by: 3,
    }
  },
  methods: {
       simple_toggle(idx, default_limit, filters_length) {
            switch(idx){
                case 0: this.meallist_limit_by = (this.meallist_limit_by === default_limit) ? filters_length : default_limit; break;
                case 1: this.propertylist_limit_by = (this.propertylist_limit_by === default_limit) ? filters_length : default_limit; break;
                case 2: this.facilitylist_limit_by = (this.facilitylist_limit_by === default_limit) ? filters_length : default_limit; break;
            }
        }
  }
};
</script>

<style src="@vueform/slider/themes/default.css"></style>

<style scope>
.slider-blue {
  --slider-connect-bg: #00A1E5;
  --slider-tooltip-bg: #00A1E5;
  --slider-handle-ring-color: #00A1E5;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container .map-card-img{
    width: 100%;
    height: auto;
}

.image-container .map-btn {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #002D63;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-link {
    padding-right: 0px !important;
    color: #002D63;
    background-color: white;
    border: none;
    margin-bottom: 0.75rem;
}

.btn-link :hover {
    color: #002D63;
    background-color: white;
    border: none;
    margin-bottom: 0.75rem;
}

.card-filter-title {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.filter-checkbox {
    color: #333333;
}

.filter-checkbox-val {
    color: #333333;
}

.icon-search {
  position: absolute;
  right: 30px;
}

.icon-show {
  position: relative;
  margin-left: 40px;
  align-content: center;
}

.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-map-btn{
    display: flex !important;
}

@media (max-width:420px) {
    .show-map-btn{
        display: none !important;
    }
}
</style>