<template>
  <div id="app" class="app">
    <Header/>
    <Navbar/>
    
    <b-container class="main-container" v-bind:style="{ maxWidth: '1440px'}">
      <router-view/>
    </b-container>
    <Footer/>
  </div>
</template>

<script>
import Header from "@/components/Header.vue"
import Navbar from "@/components/Navbar.vue"
import Footer from "@/components/Footer.vue"

export default {
  name: "App",
  components: {
    Header,
    Navbar,
    Footer,
  },
  data() {
    return {
    }
  }
}
</script>
<style scoped>

.main-container {
  margin-top: 120px;
}

@media (max-width:420px) {
  .main-container {
    margin-top: 160px;
  }
  
}
</style>